{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        Hi, {{ user.username }}! You are {{ user.age }} years old.
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <br />
<div class="jumbotron">
    <h1 class="display-4">Company News</h1>
    <p class="lead">Company updates, announcements, and events.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View Articles</a>
    </p>
    <img style="width:75vw;height: 50vh;max-width:640px;max-height: 480px;" src="{% static 'images/news_bg_home.jpg' %}" alt="News Image">

</div>
{% endblock content %}

